
#navForm{
    -fx-background-color: linear-gradient(to bottom right, #b20c0c, #ef2828);
}


#btnDelete{
    -fx-background-color: #ef2828;
}

.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Ubuntu";
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
}


.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),6,0,0,0);
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #b20c0c, #ef2828);
}

.card{
    -fx-background-radius: 10px;
}